ExampleInventoryHud {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  justify-content: center;
  align-items: center;

  ExampleInventoryPanel {
      position: absolute;
      pointer-events: all;
  }
}
